@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto Bold";
  src: url(../fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto Black";
  src: url(../fonts/roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: "Roboto Light";
  src: url(../fonts/roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto Thin";
  src: url(../fonts/roboto/Roboto-Thin.ttf);
}

.body {
  -fx-background-color: #272121;
  -fx-font-family: "Roboto";
  -fx-text-fill: #ffffff;
}

.heading {
  -fx-font-family: "Roboto Bold";
  -fx-font-size: 20;
}

.subheading {
  -fx-font-family: "Roboto";
  -fx-font-size: 18;
  -fx-fill: #ffffff;
}

.navigation-button {
  -fx-font-family: "Roboto Bold";
  -fx-font-size: 15;

  -fx-background-color: #2c2c2c;
  -fx-background-insets: 5;
  -fx-background-radius: 5;
}

.label {
  -fx-font-family: "Roboto";
  -fx-font-size: 12;
  -fx-fill: grey;
}

.primary-label {
  -fx-font-family: "Roboto";
  -fx-font-size: 12;
  -fx-fill: #ff4d00;
}

/* input fields */
.jfx-text-field {
  -fx-prompt-text-fill: gray;
}

.input-field {
  -fx-font-family: "Roboto";
  -fx-font-size: 14;
  -jfx-focus-color: #ff4d00;
  -fx-text-fill: #ffffff;
}

.jfx-combo-box {
  -jfx-focus-color: #ff4d00;
  -fx-font-family: "Roboto";
  -fx-font-size: 14;
  -fx-prompt-text-fill: gray;
}

.jfx-combo-box .list-cell {
  -fx-text-fill: white;
}

.jfx-combo-box .list-view .list-cell {
  -fx-background-color: #2c2c2c;
  -fx-text-fill: white;
}

/* Rippler */
.jfx-rippler {
  -jfx-rippler-fill: #ff4d00;
}

/* Pickers */
.jfx-date-picker,
.jfx-time-picker {
  -jfx-default-color: #ff4d00;
}

.jfx-time-picker .text-field,
.jfx-date-picker .text-field {
  -fx-text-fill: white;
  -fx-font-family: "Roboto";
}

/* Buttons */

.jfx-button {
  -fx-text-fill: #fff;
}

.proceed-button {
  -fx-font-family: "Roboto Black";
  -fx-font-size: 15;
  -fx-pref-height: 30;

  -fx-background-color: #ff4d00;
  -fx-background-radius: 5;

  -fx-padding: 10 15 10 15;
}

.proceed-button .jfx-rippler {
  -jfx-rippler-fill: #ffceb9;
}

.card {
  -fx-background-color: #2c2c2c;
  -fx-background-radius: 5;
}

.jfx-button {
  -fx-cursor: hand;
}

.jfx-hamburger {
  -fx-cursor: hand;
}

.jfx-hamburger StackPane {
  -fx-background-color: #ffffff;
}

.glyph-icon {
  -fx-fill: #ffffff;
}

.tab-header-background {
  -fx-background-color: ff4d00;
}
