@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto Bold";
  src: url(../fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto Black";
  src: url(../fonts/roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: "Roboto Light";
  src: url(../fonts/roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto Thin";
  src: url(../fonts/roboto/Roboto-Thin.ttf);
}

.root {
  -fx-font-family: "Roboto";
}

.body {
  -fx-background-color: #272121;
  -fx-font-family: "Roboto";
  -fx-text-fill: #ffffff;
}

.heading {
  -fx-font-family: "Roboto Bold";
  -fx-font-size: 20;
}

.heading-primary {
  -fx-font-family: "Roboto Black";
  -fx-fill: #ff4d00;
  -fx-font-size: 22;
}

.subheading {
  -fx-font-family: "Roboto";
  -fx-font-size: 18;
  -fx-fill: #ffffff;
}

.navigation-button {
  -fx-font-family: "Roboto Bold";
  -fx-font-size: 15;

  -fx-background-color: #ff4d00;
  -fx-background-insets: 5;
  -fx-background-radius: 5;
}

.label {
  -fx-font-family: "Roboto";
  -fx-font-size: 12;
  -fx-fill: grey;
}

.label-14 {
  -fx-font-family: "Roboto";
  -fx-font-size: 14;
  -fx-fill: grey;
}

.primary-label {
  -fx-font-family: "Roboto";
  -fx-font-size: 12;
  -fx-fill: #ff4d00;
}

.primary-label-14 {
  -fx-font-family: "Roboto";
  -fx-font-size: 14;
  -fx-fill: #ff4d00;
}

/* BACKGROUND */
.primary-background {
  -fx-background-color: #ff7439;
}

/* input fields */
.jfx-text-field {
  -fx-prompt-text-fill: gray;
}

.jfx-text-area {
  -fx-prompt-text-fill: gray;
  -fx-font-family: "Roboto";
  -fx-font-size: 14;
  -jfx-focus-color: #ff4d00;
  -fx-text-fill: #ffffff;
}

.input-field {
  -fx-font-family: "Roboto";
  -fx-font-size: 14;
  -jfx-focus-color: #ff4d00;
  -fx-text-fill: #ffffff;
}

.jfx-combo-box {
  -jfx-focus-color: #ff4d00;
  -fx-font-family: "Roboto";
  -fx-font-size: 14;
  -fx-prompt-text-fill: gray;
}

.jfx-combo-box .list-cell {
  -fx-text-fill: white;
}

.jfx-combo-box .list-view .list-cell {
  -fx-background-color: #2c2c2c;
  -fx-text-fill: white;
}

/* Rippler */
.jfx-rippler {
  -jfx-rippler-fill: #ff4d00;
}

/* Pickers */
.jfx-date-picker,
.jfx-time-picker {
  -jfx-default-color: #ff4d00;
}

.jfx-time-picker .text-field,
.jfx-date-picker .text-field {
  -fx-text-fill: white;
  -fx-font-family: "Roboto";
  -fx-font-size: 14;
}

/* Buttons */

.jfx-button {
  -fx-text-fill: #fff;
}

.proceed-button {
  -fx-font-family: "Roboto Black";
  -fx-font-size: 15;
  -fx-pref-height: 30;

  -fx-background-color: #ff4d00;
  -fx-background-radius: 5;

  -fx-padding: 10 15 10 15;
}

.back-button {
  -fx-font-family: "Roboto Black";
  -fx-font-size: 15;
  -fx-pref-height: 30;

  -fx-background-color: rgb(99, 99, 99);
  -fx-background-radius: 5;

  -fx-padding: 10 15 10 15;
}

.alert-button-sm {
  -fx-font-family: "Roboto Black";
  -fx-font-size: 15;

  -fx-background-color: rgb(228, 6, 6);
  -fx-background-radius: 5;

  -fx-padding: 10 15 10 15;
}

.proceed-button .jfx-rippler {
  -jfx-rippler-fill: #ffceb9;
}

.card {
  -fx-background-color: #2c2c2c;
  -fx-background-radius: 5;
}

.card-outlined {
  -fx-background-color: #2c2c2c;
  -fx-background-radius: 5;
  -fx-border-radius: 5;
  -fx-border-width: 2;
  -fx-border-color: rgb(59, 59, 59);
}

.border-botton-1 {
  -fx-border-radius: 5;
  -fx-border-width: 0 0 1 0;
  -fx-border-color: rgb(59, 59, 59);
}

.jfx-button {
  -fx-cursor: hand;
}

.jfx-hamburger {
  -fx-cursor: hand;
}

.jfx-hamburger StackPane {
  -fx-background-color: #ffffff;
}

.glyph-icon {
  -fx-fill: #ffffff;
}

.tab-header-background {
  -fx-background-color: ff4d00;
}

/* LIST */

.jfx-list-view {
  -fx-background-color: transparent;
}

.jfx-list-view .scroll-bar:horizontal .track,
.jfx-list-view .scroll-bar:vertical .track {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 0em;
  -fx-border-radius: 2em;
}

.jfx-list-view .scroll-bar:horizontal .increment-button,
.jfx-list-view .scroll-bar:horizontal .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0em;
  -fx-padding: 0 0 10 0;
}

.jfx-list-view .scroll-bar:vertical .increment-button,
.jfx-list-view .scroll-bar:vertical .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0em;
  -fx-padding: 0 10 0 0;
}
.jfx-list-view .scroll-bar .increment-arrow,
.jfx-list-view .scroll-bar .decrement-arrow {
  -fx-shape: " ";
  -fx-padding: 0;
}

.jfx-list-view .scroll-bar:horizontal .thumb,
.jfx-list-view .scroll-bar:vertical .thumb {
  -fx-background-color: derive(black, 90%);
  -fx-background-insets: 2, 0, 0;
  -fx-background-radius: 2em;
}

.scroll-bar {
  -fx-background-color: transparent;
}

/* List Items */
.list-item-title {
  -fx-font-family: "Roboto";
  -fx-font-size: 15;
  -fx-fill: white;
}

.list-item-subtitle {
  -fx-font-family: "Roboto";
  -fx-font-size: 13;
  -fx-fill: gray;
}

.jfx-list-view .list-cell:even {
  -fx-background-color: #2c2c2c;
  -fx-background-radius: 5;
  -fx-padding: 0px;
}

.jfx-list-view .list-cell:odd {
  -fx-background-color: #303030;
  -fx-background-radius: 5;
  -fx-padding: 0px;
}

/* Tree */

.tree-table-view,
.table-view {
  -fx-font-family: "Roboto";
  -fx-text-fill: #fff;
  -fx-background-color: transparent;
}

.table-cell {
  -fx-text-fill: #fff;
  -fx-font-family: "Roboto";
  -fx-font-size: 15px;
}

.tree-table-row-cell {
  -fx-background-color: transparent;
}

.tree-table-row-cell .tree-table-cell {
  -fx-text-fill: gray;
  -fx-font-family: "Roboto Dark";
  -fx-font-size: 15px;
}

.tree-table-row-cell:selected .tree-table-cell {
  -fx-text-fill: #ff4d00;
  -fx-font-family: "Roboto Dark";
  -fx-font-size: 15px;
}

.table-view .column-header,
.table-view .filler {
  -fx-background-color: rgb(0, 0, 0);
  -fx-size: 35px;
  -fx-border-color: -fx-box-border;
  -fx-border-insets: -1 0 0 -1;
  -fx-padding: 0 5 0 0;
}

.tree-table-view .column-header,
.tree-table-view .filler {
  -fx-background-color: transparent;
  -fx-size: 35px;
  -fx-border-color: gray;
  -fx-border-insets: -1 0 0 -1;
  -fx-padding: 0 5 0 0;
}

/* CHECKBOX */
.jfx-check-box {
  -jfx-checked-color: #ff4d00;
  -jfx-unchecked-color: white;
}

/* TOGGLE BUTTON */
.jfx-toggle-button {
  -jfx-toggle-color: #ff4d00;
  -jfx-untoggle-color: #181818;
  -jfx-toggle-line-color: #fd8b5a;
  -jfx-untoggle-line-color: #4e4e4e;
}

/* ALERT */
.card-alert {
  -fx-background-color: #2c2c2c;
  -fx-border-width: 1;
  -fx-border-color: rgb(54, 54, 54);
}

.alert-heading {
  -fx-font-size: 18;
  -fx-text-fill: #ff4d00;
}

.alert-message {
  -fx-font-size: 15;
  -fx-text-fill: #ffffff;
}
